#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

html{
  background-image: linear-gradient(to top, #b541d8, #a843d7, #9a44d6, #8c45d5, #7d46d3);
  filter: blur(100%)}