#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

html{
  background-image: linear-gradient(to bottom, #011526, #001f38, #00294a, #00345d, #003e71, #00457e, #014c8b, #035398, #0358a2, #035dab, #0363b5, #0468bf);
  filter: blur(100%)}